div#em-event-seatsio-chart label {
	min-width: 150px;
	font-weight: bold;
	line-height: 27px;
	display: inline-block;
}
div#em-event-seatsio-chart span {
	line-height: 27px;
}

/* modal */
html {
    position: relative;
    height: 100%;
}

.v-center {
    height: 100vh;
    width: 100%;
    display: table;
    position: relative;
    text-align: center;
}

.v-center > div {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: -10%;
}

.btn-small {
    padding: .75em 1em;
    font-size: 0.8em;
}

.modal-box {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 400px;
    background: white;
    border-bottom: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
}
.clearfix {
	clear: both;
}
.modal-box img.avatar {
	float: left;
	max-width: 165px;
}
.modal-box .profile-info {
	padding-left: 175px;
}

.modal-box header, .modal-box .modal-header {
    padding: 10px 15px 5px;
    border-bottom: 1px solid #ddd;
}

.modal-box header h3, .modal-box header h4, .modal-box .modal-header h3, .modal-box .modal-header h4 {
    margin: 0;
}

.modal-box .modal-body {
    padding: 10px 15px 5px;
}

.modal-box footer, .modal-box .modal-footer {
    padding: 10px 15px;
    border-top: 1px solid #ddd;
    background: rgba(0, 0, 0, 0.02);
    text-align: right;
}

.modal-overlay {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3) !important;
}

a.close {
    line-height: 1;
    font-size: 1.5em;
    position: absolute;
    top: 10px;
    right: 15px;
    line-height: 1.17em;
    text-decoration: none;
    color: #bbb;
}

a.close:hover {
    color: #222;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
}